* {
  box-sizing: border-box;
}

#button-guest {
  color: gray;
}

#search-bar-icon {
  width: 30px;
  cursor: pointer;
}

#profile-list-img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 4px;
}

#profile-icon-img {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 4px;
}

.line {
  border-bottom: 1px solid lightgray;
  margin: 5px 0px;
}

.room {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  z-index: 100;
  margin-bottom: 50px;
}

.room__item {
  width: 350px;
  position: relative;
  border-radius: 10px;
  margin: 40px 20px 0px 0px;
  overflow: hidden;
}

.room__item__imgBox {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.imgBox {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.room__like {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 10px;
  color: rgb(255, 56, 92);
  font-size: 30px;
  z-index: 2;
}

.room__unlike {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 10px;
  font-size: 30px;
  z-index: 2;
  color: black;
}

.room__item__textBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  z-index: index 200;
  margin-top: 10px;
}

.textBox__1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}

.textBox__1__loc {
  font-weight: bold;
  overflow: hidden;
}

.textBox__2 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;      /* 텍스트를 한 줄로 제한 */
  overflow: hidden;         /* 넘치는 텍스트를 감춤 */
  text-overflow: ellipsis;  /* 넘치는 텍스트를 ...으로 표시 */
}

.textBox__3 {
  color: black;
  font-size: 18px;
}

#button__map {
  position: fixed;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  bottom: 100px;
  padding: 14px;
  margin-left: calc((50% - 95px));
  z-index: 1;
  border-radius: 40px;
  border: 0px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#button__map:active {
  transform: scale(0.9);
}

#map {
  width: 105vw;
  height: 105vh;
  position: fixed;
  left: 0px;
  padding: 100px 0px;
  font-size: 600px;
}

.icon-label {
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: white;
  font-weight: bold;
  border-radius: 28px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  margin: auto;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
}

.icon-label:hover {
  color: white;
  background-color: black;
}

.map__item {
  width: 250px;
  height: 80%;
  position: relative;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}

Article {
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.swiper-pagination-bullet {
  background: black !important;
}
